body {
  font-family: sans-serif;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.team {
  text-align: center;
}


.buttons button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #0059b3;
  color: white;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #007fff;
}

.scoreboard {
  background-color: #003366;
  padding: 30px 40px;
  border-radius: 15px;
  display: flex;
  gap: 40px;
  color: white;
  align-items: center;
  justify-content: center;
}

.timer-box {
  text-align: center;
}

.display {
  background-color: black;
  color: red;
  font-family: 'Digital-7', monospace;
  font-size: 60px;
  padding: 20px 40px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: inset 0 0 5px #ff0000;
}

